<%- include('./partials/header.ejs') %>

    <div class="content-main">
        <p>
            About Entrepreneur Meetups <br /> <br />
            Entrepreneur meetup is the one of the best platform for the upcoming entrepreneurs. People finds and builds their 
            local communities and connections. People use entrepreneur meetup to meet new people of their field, learn and 
            share new things among each other, get out of their comfort zone and pursues their dreams to be an entrepreneur.
            <br />
            Checkout the connections section to know more!
        </p>
        <div>
            <img src="/images/enter.jpeg" class="index-img" alt="Entrepreneur" />
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>