<%- include('./partials/header.ejs') %>

    <div class="content-main">
        <p>
            Contact Us <br /> <br />
            Address : 1979 University City Blvd, Charlotte, NC 28223 <br />
            Phone : (704)687-8622
        </p>
        <div>
            <img src="/images/enter.jpeg" class="index-img" alt="Entrepreneur" />
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>