<%- include('./partials/header.ejs') %>

    <div class="content-main">
        <p>
            Welcome my Entrepreneur Meetups! <br /> <br />
            Looking for strong network before building your dreams, join us at entrepreneur meetups, time-effective way
            to communicate with people in a professional context. You can use the portal to connect with the people
            having the common interest and can take part in the discussion with the people have the interest in your
            area of expertise and interest by hosting and attending meetups related to business and entrepreneurship.
            This portal allows users to schedule a meetup or book their time for meetup in advance so that they meet the
            right people to connect.

        </p>
        <div>
            <img src="/images/enter.jpeg" class="index-img" alt="Entrepreneur" />
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>