<%- include('../partials/header.ejs')%>

    <div class="content-main">
        <form action = '/connections' method = 'POST'>
            <div>
                <label for="topic" class="content-label">Topic</label>
                <input type="text" id="topic" class="content-textbox" name="topic" minlength="3" placeholder="Topic" required>
            </div>
            <div>
                <label for="title" class="content-label">Title</label>
                <input type="text" id="title" class="content-textbox" name="title" minlength="3" placeholder="Title" required>
            </div>
            <div>
                <label for="details" class="content-label vertical-align-top">Details</label>
                <textarea rows="3" id="details" class="content-textbox" name="detail"
                    placeholder="Description" required minlength="10"></textarea>
            </div>
            <div>
                <label for="where" class="content-label">Where</label>
                <input type="text" id="where" class="content-textbox" name="where" placeholder="Location" required>
            </div>
            <div>
                <label for="when" class="content-label">When</label>
                <input type="date" id="when" class="content-textbox" name="when" required>
            </div>
            <div>
                <label for="start" class="content-label">Start</label>
                <input type="time" id="start" class="content-textbox" name="start" required>
            </div>
            <div>
                <label for="end" class="content-label">End</label>
                <input type="time" id="end" class="content-textbox" name="end" required>
            </div>
            <div>
                <label for="imageUrl" class="content-label">Image URL</label>
                <input type="text" id="imageUrl" class="content-textbox" name="imageUrl" placeholder="Image URL" required>
            </div>

            <br>
            <button class="button" id="btnCreate" value="Create Connection" >Create Connection</button>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>